body {
  /* fallback for old browsers */
  background: #7e40f6;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1));
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid #424242;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 600px) {
  .content {
    box-shadow: none;
    border: none;
    border-radius: 0;
  }
}